<h2>Editing health_check</h2>

<p>
  <%= link_to 'Show', @health_check, class: 'btn btn-primary' %>
  <%= link_to 'Back', health_checks_path, class: 'btn btn-primary' %>
</p>

<div class='container'>
  <%= render 'form' %>
</div>
