<h2>Editing hosted_zone</h2>

<p>
  <%= link_to 'Show', @hosted_zone, class: 'btn btn-primary' %>
  <%= link_to 'Back', hosted_zones_path, class: 'btn btn-primary' %>
</p>

<div class='container'>
  <%= render 'form' %>
</div>
